COMPANY_NAME="Tofu-ray"
TWITTER_CREATOR="@tofu-ray"
TWITTER_SITE="https://tofu-ray.com"
SITE_NAME="Tofu-ray"

# React Bricks Configuration
API_KEY="a907e160-d2a9-4e4d-afed-8ff1cee42371"
NEXT_PUBLIC_APP_ID="2a47b13d-f2ea-451b-a3e4-9c0e59b20aaf"
NEXT_PUBLIC_ENVIRONMENT="main"
REACT_BRICKS_REVALIDATE="1"

# Medusa API Configuration
NEXT_PUBLIC_MEDUSA_API_URL="http://localhost:9000"

# Medusa Database (Supabase)
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.kryokiqvcqkbiicguhai.supabase.co:5432/postgres"